@font-face {
  font-family: 'E-Ukraine';
  src: url('/src/assets/fonts/e-Ukraine-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'E-Ukraine';
  src: url('/src/assets/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'E-Ukraine';
  src: url('/src/assets/fonts/e-Ukraine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Heading */
@font-face {
  font-family: 'E-UkraineHead';
  src: url('/src/assets/fonts/e-UkraineHead-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'E-UkraineHead';
  src: url('/src/assets/fonts/e-UkraineHead-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'E-UkraineHead';
  src: url('/src/assets/fonts/e-UkraineHead-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
